{% extends 'base.html' %}
{% block title %} Signup {% endblock %}
{% load static %}
{% block content %}
<style>
    
    *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
        body{
         background: url("{% static 'img/w.jpg'%}") no-repeat ;
         background-size: cover;
         background-attachment: fixed;
         padding: 0px 110px

        }


input[type=text], select {
    width: 100%;
    padding: 12px 10px;
    margin: 3.3px 0px;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 10px;
    margin: 3.3px 0px;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;

}

input[type=number], select {
    width: 100%;
    padding: 12px 10px;
    margin: 3.3px 0px;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 14px;
    box-sizing: border-box;
}

.submit {
  width: 40%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 145px;
  border-radius: 4px;
  transition: 0.8s ease;
  border: 0ch;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 130px;

}

.submit:hover {
    transform: scale(1.1);
    color:  blue;
    background-color: black;
}

input {
    background-color: white;
    color: black;
}

input {
    background-color: white;
    color: black;
}

div {
    color: white;
background: fixed;
    border-radius: 18px;
padding: 10px 50px;
margin-top: -4px;
}

.a1{
    width: 100px;
            height:50px;
            margin: 3px -32px;
}

h3{
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 2px 1px rgb(0, 0, 0),
    1px 3px 1px rgb(0, 0, 0),
    1px 4px 1px rgb(0, 0, 0),
    1px 5px 1px rgb(0, 0, 0),
    1px 6px 1px rgb(0, 0, 0),
    1px 7px 1px rgb(0, 0, 0),
    1px 8px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0);

}

p{
    text-align: center;
}

a span {
    margin-top: 0;
    text-align: center;
    transition: 1s ease;
    border: 0ch;
    display: inline-block;
    padding-left: 6px;
    color: #FFFFFF;

}
a span:hover{
    transform: scale(1.1);
    color:  blue;
}

h2{
    position: absolute;
    left: 48%;
    top: 43%;
    font-size: 90px;
    font-weight: 700;
    color: blue;
    text-shadow: 1px 2px 1px rgb(0, 0, 0),
    1px 3px 1px rgb(0, 0, 0),
    1px 4px 1px rgb(0, 0, 0),
    1px 5px 1px rgb(0, 0, 0),
    1px 6px 1px rgb(0, 0, 0),
    1px 7px 1px rgb(0, 0, 0),
    1px 8px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0),
    1px 9px 1px rgb(0, 0, 0);


}
</style>


    <div class="col-5">
        
        <h3>Sing Up</h3>
        <form method="post">
            <h4 style="color:red">{{ error }}</h4>
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username"><br>

            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Email"><br>

            <label for="password1">Password</label>
            <input type="password" id="password1" name="password1" placeholder="Password"><br>

            <label for="password2">Confirm Password</label>
            <input type="password" id="password2" name="password2" placeholder="Confirm Password"><br>

            <label for="government">Governorate</label>
            <input type="text" id="government" name="government" placeholder="Governorate"><br>

            <label for="regon">Region</label>
            <input type="text" id="regon" name="regon" placeholder="Region"><br>

            <label for="phone">Phone Number</label>
            <input type="text" id="phone" name="phone" placeholder="Phone"><br>


            <label for="cname">Car Name</label>
            <input type="text" id="cname" name="cname" placeholder="Car Name"><br>

            <label for="cmodel">Car Model</label>
            <input type="text" id="cmodel" name="cmodel" placeholder="Car Model"><br>

           
            

            <button class="submit" href="{% url 'signup' %}"> Sing Up </button>
            <p> Already Have An Account ? <a href="{% url 'login' %}"><span> LOG IN</span></a></p>
        </form>
        <h2>AUTO SERVICE</h2>
    </div>


{% endblock %}